/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    /* Color Scheme */
    --color-black: black;
    --color-grey: #222222;
    --color-white: white;

    --screen-share: #4ac800;
}

/* ----- CSS Main Page Begin ----- */

/* General Tags */
body {
    font-family: 'DM Sans', sans-serif;
}