/* CSS Reset Rule */
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    /* Color Scheme */
    --color-black: black;
    --color-grey: #222222;
    --color-white: white;

    --screen-share: #4ac800;
}

/* ----- CSS Main Page Begin ----- */

/* General Tags */
body {
    font-family: 'DM Sans', sans-serif;
    background-color: var(--color-black);
    color: var(--color-white);
}

.flex {
    display: flex;
}

.page-spacing {
    margin: 0 auto;
}

/* Header Section */
.header {
    height: 40px;
}

.head-wrapper {
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 0.3rem;
    margin-right: 0.5rem;
}
    .head-btn {
        color: var(--color-white);
        background-color: var(--color-grey);
        border: none;
        padding: 0.2rem 0.3rem;
        border-radius: 6px;
        font-weight: 300;
    }

/* Main Section */
.main-content {
    height: calc(100vh - (80px + 40px));
    overflow-y: scroll;
}

.main-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.35rem;
    padding: 2rem 4.2rem;
}

.user-camera-container {
    background: var(--color-white);
    width: calc(95% / 7);
    height: 150px;
    position: relative;
    min-width: calc(250px);
}
    .user-camera-container  > img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

.user-info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(128,128,128, 0.7);
    padding: 0.2rem 0.5rem;
    font-size: 0.9rem;
}

/* Footer Section */
.footer-nav {
    height: 80px;
    background-color: var(--color-grey);
}

.navigation-bar {
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.btn-section-self {
    justify-content: flex-start;
}

.btn-section-meet {
    justify-content: center;
}

.btn-section-ending {
    color: red;
    height: 100%;
    background-color: rgb(74, 73, 73);
    align-items: center;
    font-weight: 300;
    font-size: medium;
}


.btn-section-self,
.btn-section-meet {
    gap: 1.6rem;
}
    .btn-item > i{
        font-size: 1.5rem;
    }
    .btn-section-self,
    .btn-section-ending {
        padding: 0 1rem ;
    }

.btn-dropdown {
    align-items: center;
    gap: 0.6rem;
}
    .btn-dropdown > i {
        font-size: 0.8rem;
    }

.btn-item {
    flex-direction: column;
    align-items: center;
}
    .btn-label {
        margin-top: 0.5rem;
        font-weight: 200;
        font-size: small;
    }
    #btn-share{
        color: var(--screen-share);
    }

.btn-item,.btn-dropdown,.btn-section-ending {
    cursor: pointer;
}
